<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackIt">
        <activity
            android:name=".Transactions.EditTransaction"
            android:exported="false" />
        <activity
            android:name=".CreateBudget"
            android:exported="false" />
        <activity
            android:name=".News.Detailed"
            android:exported="false" />
        <activity
            android:name=".News.NewsPage"
            android:exported="false" />
        <activity
            android:name=".Transactions.IncomePage"
            android:exported="false" />
        <activity
            android:name=".Transactions.ExpensePage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".initActivities.Info_Welcome_Page"
            android:exported="false" />
        <activity
            android:name=".Account.SuccesfulReset"
            android:exported="false" />
        <activity
            android:name=".Account.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".Account.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Account.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".initActivities.Welcome_Page"
            android:exported="false" />
        <activity
            android:name=".Account.NewAccount"
            android:exported="false" />
        <activity
            android:name=".Transactions.Transaction_Done"
            android:exported="false" />
        <activity
            android:name=".initActivities.Splash_Screen2"
            android:exported="false" />
        <activity
            android:name=".ViewModel.AboutUs"
            android:exported="false" />
        <activity
            android:name=".initActivities.Splash_Screen"
            android:exported="true"
            android:theme="@style/Theme.TrackIt.TracIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>